<?xml version="1.0" encoding="UTF-8"?>
<!--https://www.baeldung.com/logback-->
<!--https://mkyong.com/logging/logback-xml-example/-->
<!--https://www.baeldung.com/logback-send-email-->
<!--https://stackoverflow.com/questions/32328171/spring-boot-sending-emails-with-logback-->
<!--https://stackoverflow.com/questions/32720891/sending-logs-to-email-using-spring-boot-->
<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="emailAppender" class="ch.qos.logback.classic.net.SMTPAppender">
        <smtpHost>smtp.gmail.com</smtpHost>
        <smtpPort>587</smtpPort>
        <STARTTLS>true</STARTTLS>
        <asynchronousSending>false</asynchronousSending>
        <username>aj.informatika@gmail.com</username>
        <password>1Charity2portaL</password>
        <to>kloska.dominik@gmail.com</to>
        <from>aj.informatika@gmail.com</from>
        <subject>eToro-api: %logger{20} - %msg</subject>
        <layout class="ch.qos.logback.classic.html.HTMLLayout" />
        <!--        <layout class="ch.qos.logback.classic.PatternLayout">-->
        <!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>-->
        <!--        </layout>-->
        <!--        <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">-->
        <!--            &lt;!&ndash; only 5 log entries on email &ndash;&gt;-->
        <!--            <bufferSize>1</bufferSize>-->
        <!--        </cyclicBufferTracker>-->
    </appender>

    <property name="LOG_FILE" value="etoro-api" />
    <property name="LOG_DIR" value="logback_logs" />
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <!-- keep 1 day' worth of history capped at 10MB total size -->
            <maxHistory>1</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ok.work.etoroapi" level="info" additivity="false">
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppender" />
    </logger>

<!--    <logger name="ok.work.etoroapi" level="warn">-->
<!--        <appender-ref ref="emailAppender" />-->
<!--    </logger>-->

    <root level="WARN">
        <appender-ref ref="emailAppender" />
    </root>
</configuration>
